.hero {
  background-image: url('../img/Wuwa.png');
  background-size: cover;
  background-position: center;
  color: white;
  caret-color: transparent;
  padding: 150px;
}
.hero h1{
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  -webkit-text-stroke: 3px black; 
}

.blank {
    background-color: rgb(15, 15, 15);
    caret-color: transparent;
    padding-bottom: 3rem;
}